@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* bg-[url('/web-bg.svg')]  */
  main {
    @apply bg-[url('/web-bg-light.svg')] dark:bg-[url('/web-bg-dark.svg')] inset-0 bg-cover bg-no-repeat bg-center absolute top-0 left-0
  }
  body {
    @apply bg-white dark:bg-[#05070A]
  }
}

@layer components {
  .hover-animation {
    @apply inline-block relative;
  }

  .hover-animation::after {
    @apply absolute w-full h-[3px] -bottom-1 left-0 origin-bottom-right bg-primary-border transition transform duration-500 ease-out;
    content: "";
    transform: scaleX(0);
  }

  .hover-animation:hover::after {
    @apply origin-bottom-left;
    transform: scaleX(1);
  }
}