@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* bg-[url('/web-bg.svg')]  */
  main {
    @apply bg-[url('/web-bg-light.svg')] dark:bg-[url('/web-bg-dark.svg')] inset-0 bg-cover bg-no-repeat bg-center absolute bg-fixed min-h-screen overflow-y-scroll  top-0 left-0
  }
  body {
    @apply bg-white dark:bg-[#05070A]
  }
}

@layer components {
  .hover-animation {
    @apply inline-block relative;
  }

  .hover-animation::after {
    @apply absolute w-full h-[3px] -bottom-1 left-0 origin-bottom-right bg-primary-border transition transform duration-500 ease-out;
    content: "";
    transform: scaleX(0);
  }

  .hover-animation:hover::after {
    @apply origin-bottom-left;
    transform: scaleX(1);
  }

  /* Styling for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

}